In [2]:
import pandas as pd

In [4]:
datos = {
    "flor":["rosa", "tulipan","hortensia","girasol"],
    "precio":[123,321,456,654],
    "stock":[10,32,5,64]
}

df = pd.DataFrame(datos).set_index("flor")

df

           precio  stock
flor
rosa          123     10
tulipan       321     32
hortensia     456      5
girasol       654     64

In [7]:
df.loc[["rosa", "girasol"], "precio"]

flor
rosa       123
girasol    654
Name: precio, dtype: int64

In [8]:
df.iloc[[1,2],:]

           precio  stock
flor
tulipan       321     32
hortensia     456      5

In [9]:
df.precio

flor
rosa         123
tulipan      321
hortensia    456
girasol      654
Name: precio, dtype: int64

In [10]:
df.precio.mean()

np.float64(388.5)

In [12]:
df.stock > 20

flor
rosa         False
tulipan       True
hortensia    False
girasol       True
Name: stock, dtype: bool

In [13]:
df.loc[df.stock >20]

         precio  stock
flor
tulipan     321     32
girasol     654     64

In [15]:
df["precio_docena"] = df.precio * 12

df

           precio  stock  precio_docena
flor
rosa          123     10           1476
tulipan       321     32           3852
hortensia     456      5           5472
girasol       654     64           7848

In [16]:
df.to_csv("./floreria.csv")