In [ ]:


# ! impremir en consola, equivalente al console.log() de JS
print("Hola Mundo!")

In [ ]:

# ! Nos devuelve la canidad de elementos que hay en el conjunto de datos
print(len([0,1,2,3,4,5]))

# ! genera una secuencia de numeros enteros en un intervalo especifico, SE USA ESPECIALMENTE CON LSO BUCLES "FOR"

# ! comenzara en el primer valor y seguira hasta uno antes del segundo valor, step se refiere a la cantidad de saltos que dara el intervalo

# * solo es necesario un valor, en ese caso el start default sera 0 y el step 1
#range(start, stop, step)

for idx in range(1,10,1):
    print(idx)

6
1
2
3
4
5
6
7
8
9

In [ ]:

# ! Nos pedira que ingresemos una valor mediante la consola, este se convertira en str. Si pasamos como argumento un str, este aparecera en primer lugar.

value = input("Ingresa un valor")
print("El valor ingresado es: ", value)

In [ ]:

# ! Nos devolvera el tipo de dato de una variable

val1 = 1
val2 = "hola"
val3 = True
val4 = []
val5 = ()
val6 = {0}
val7 = {}


print(type(val1))
print(type(val2))
print(type(val3))
print(type(val4))
print(type(val5))
print(type(val6))
print(type(val7))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [ ]:

# ! conversion de tipos 
# ! NOTA: ES IMPORTANTE QUE LOS TIPOS QUE SE VAN A CONVERTIR COINCIDAN

val8 = "1"
val9 = 0
val10 = 1
val11 = 10

val8 = int(val8)
print(type(val8))
bool(val9)
val9 = print(type(val9))
str(val10)
val10 = print(type(val10))
float(val11)
val11 = print(type(val11))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:

# ! Operaciones matematicas

# ! devuelve el valor absoluto
print("El valor absoluto de -5 es: ", abs(-5))

# ! potencia
print("La potencia de 2^3 es: ", pow(2,3))

# ! Redondear el numero a su entero
print("Redondeo de 10.50,", round(10.50))
print("Redondeo de 10.51,", round(10.51))

# ! O a cifrasdecimales 
print("Redondeo de 10.51,", round(10.51,1))

El valor absoluto de -5 es:  5
La potencia de 2^3 es:  8
Redondeo de 10.50 10
Redondeo de 10.51 11
Redondeo de 10.51 10.5

In [7]:

# ! suma de los elementos de una tupla, lista o conjunto

print("Suma: ", sum(list((1,2,3)))) 
print("Suma: ", sum(tuple((1,2,3)))) 
print("Suma: ", sum(set((1,2,3))))

Suma:  6
Suma:  6
Suma:  6

In [8]:

# ! Maximo y minimo

print("Maximo: ", max(list((1,2,3)))) 
print("Minimo: ", min(list((1,2,3))))

Maximo:  3
Minimo:  1

In [12]:

# ! Ordenar listas de forma ascendente

print(sorted(list((3,2,5,6,88,4,1))))


# ! Ordenar listas de forma descendente
print(sorted(list((3,2,5,6,88,4,1)), reverse=True))

[1, 2, 3, 4, 5, 6, 88]
[88, 6, 5, 4, 3, 2, 1]

In [ ]:

# ! Genera un rango de valores entre el primer valor y el anterior al segundo
range(1,11)

# ! Crea una tupla que enumere elementos desde 0, se puede establecer el numero por el cual empezara a contar

print(list(enumerate(["cero", "uno", "dos", "tres"], start=1)))


# ! Combina 2 colecciones en una lista de tuplas, si tienen una cantidad diferente de elementos, se ajustara a la que menos datos tenga
print(list(zip([1,2,3],["uno", "dos", "tres"])))

[(1, 'cero'), (2, 'uno'), (3, 'dos'), (4, 'tres')]
[(1, 'uno'), (2, 'dos'), (3, 'tres')]